.home {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 1/13;
}

.header a {
  margin-bottom: 1rem;
}
