.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a { 
  position: relative;
  opacity: .5;
}

.nav a:global(.active), .nav a:hover { opacity: 1;}

.nav a::after {
  content: '';
  width: 0;
  display: block;
  height: .2rem;
  background-color: white;
  margin-top: .1rem;
}

.nav a:hover::after { animation: fill-underline .3s ease forwards;}

.nav a:global(.active)::after {
  background-color: var(--color-action);
  width: 100%;
}

@keyframes fill-underline { to { width: 100%;}}
