.leftContainer {
  grid-column: 1/6;
}

.rightContainer {
  grid-column: 7/13;
}

.leftContainer form,
.rightContainer form {
  margin-bottom: 3rem;
}

.leftContainer table,
.rightContainer table {
  width: 100%;
}
