.div {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--color-bg);
}

.div:hover {
  width: 4rem;
}

.div button {
  display: none;
}

.div:hover button {
  display: initial; 
}

.div i {
  font-size: 1.3rem;
}

.div:hover > i {
  display: none;
}
