table {
  border-spacing: 0px;
}

thead {
  background: linear-gradient( #4f4f4f, #4f4f4f3f );
  border: none;
}

th, td {
  text-align: left;
  padding: 1rem;
}

tbody tr th,
tbody tr td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr th {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr td:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

tr {
  position: relative;
}

tr td:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
