@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@300;400;700&family=Spectral:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --color-main: white;
  --color-bg: #353535;
  --color-second: #E46262;
  --color-action: #F0865B;
}

body {
  background-color: var(--color-bg);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-main);
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.form-page {
  grid-column: 4/10;
  padding: 0 2rem;
}

.button-default {
  color: var(--color-action);
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  transition: .2s;
  gap: .3rem;
  justify-content: center;
  align-items: center;
}

.button-default:disabled {
  opacity: .5;
  cursor: wait;
}

.button-default:not(:disabled):hover {
  color: var(--color-main);
  transition: .2s;
  gap: .5rem;
}

.button-default i {
  font-size: 1.3rem;
}